.next-step {
	background: #f8f8f8;
	color: #000000e0;
	padding: 25px;
	margin-top: 30px;
}

.code-block {
	font-size: 14px;
}

nav a {
	text-decoration: none;
}

nav a.active {
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline;
}

pre {
	display: inline-block;
}
